<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Background</title>
    <!-- Tailwind CDN for styling -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      style="
        background-image: url(&quot;./images/image.jpg&quot;);
        background-size: cover;
        background-position: center;
      "
      class="flex h-svh items-center justify-center pt-16"
    >
      <div
        class="shadow-base bg-primary/50 flex max-w-5/6 flex-col items-center justify-center rounded-xl p-5 shadow-2xl sm:max-w-3/10"
      >
        <h1 class="text-primary-content text-2xl">WELCOME</h1>
        <p class="text-center text-lg">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident,
          eius ea omnis inventore illo reiciendis libero odio labore ab
          perferendis nemo dolor odit officiis nulla blanditiis cupiditate iusto
          facilis praesentium?
        </p>
      </div>
    </div>
  </body>
</html>
